<h1>Register Page</h1>
<form method="POST">
    <label>Username:<input type="text" name="username"></label>
    <label>Password:<input type="text" name="password"></label>
    <label>Password:<input type="text" name="repassword"></label>
    <button>Register</button>
</form>